<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KAKAO CHANNEL 추가 !</title>

    <script src="https://t1.kakaocdn.net/kakao_js_sdk/2.7.4/kakao.min.js" integrity="sha384-DKYJZ8NLiK8MN4/C5P2dtSmLQ4KwPaoqAfyA/DfmEc1VDxu4yyC7wy6K1Hs90nka" crossorigin="anonymous"></script>
</head>
<body>

<a href="javascript:void(0)" id="kakao-add-channel-button"></a>

<script>
    Kakao.init("4e1450712d271f29b12b9e5ee26425d7");
    Kakao.Channel.createAddChannelButton({
      container: '#kakao-add-channel-button',
      channelPublicId: '_exoJMn' // 카카오톡 채널 홈 URL에 명시된 id로 설정합니다.
    });
</script>

</body>
</html>