<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--
DOC leaflet https://leafletjs.com/reference.html#tilelayer
DOC leaflet 적용 한국 지도: https://github.com/tontita/Leaflet.KoreanTmsProviders

-->

    <!-- leaflet    -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

    <!-- Leaflet Plugins: Leaflet.KoreanTmsProviders 추가  -->
    <script src="/js/KoreanTmsProviders/lib/proj4.js"></script>
    <script src="/js/KoreanTmsProviders/lib/proj4leaflet.js"></script>
    <script src="/js/KoreanTmsProviders/src/Leaflet.KoreanTmsProviders.js"></script>

    <!-- GEOCODER   -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>


    <!--    axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js" integrity="sha512-DdX/YwF5e41Ok+AI81HI8f5/5UsoxCVT9GKYZRIzpLxb8Twz4ZwPPX+jQMwMhNQ9b5+zDEefc+dcvQoPWGNZ3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <style>
        body{
            margin: 0;padding: 0;
        }
    </style>

</head>
<body>
    <div id="map" style="width:100%;height:100vh;"></div>

    <script>
        console.log("L",L);
//        var map = L.map('map', {
//            center: [51.505, -0.09],
//            zoom: 13
//        })

//        L.tileLayer(
//            'https://tile.openstreetmap.org/{z}/{x}/{y}.png?{foo}',
//           {foo: 'bar', attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'}
//       )
//        .addTo(map);

        // 지도 기본타일 적용
 		var map = new L.Map('map', {
			  center: new L.LatLng(35.849957, 128.520305), //중심점 : 대구
			  zoom: 8,	//Leaflet.KoreanTmsProviders.js : resolutions기준 줌 레벨(Level 12)
			  crs: L.Proj.CRS.Daum, //Leaflet.KoreanTmsProviders.js : 새로 정의된 Daum Map CRS
			  worldCopyJump: false,  //https://leafletjs.com/reference-1.3.2.html#map-worldcopyjump 참조
		});
		var baseLayers = L.tileLayer.koreaProvider('DaumMap.Street').addTo(map);

        //GEOCODER 추가
        var geocoder = L.Control.geocoder({defaultMarkGeocode: false})
                        .on('markgeocode', function(e){
                            console.log(e);
                            map.setView(e.geocode.center,9)
                        })
                        .addTo(map);





        //중심좌표 마커 추가
        var centerMaker = L.marker([35.849957, 128.520305]).addTo(map);
        //툴팁추가
        centerMaker.bindTooltip('<b>중심좌표TOOPTIP</>',{direction:'top',permanent:false,offset:[-15,-15]});
        //팝업추가
        centerMaker.bindPopup('<div style="width:200px;height:200px;background-color:white">TEST</div>',{})

        //중심좌표에 이벤트 추가
        centerMaker.on('mouseover',function(e){
            console.log('mouseover', e);
            this.openTooltip();
        })
        centerMaker.on('mouseout',function(e){
            console.log('mouseout', e);
        })
        centerMaker.on('click',function(e){
            console.log('click', e);
            this.openPopup();
        })

        map.on('click',function(e){
            console.log(e.latlng);

            axios.get(`/openWeather/get/${e.latlng.lat}/${e.latlng.lng}`)
            .then(resp=>{
                console.log(resp)

                var newMaker = L.marker([`${e.latlng.lat}`, `${e.latlng.lng}`]).addTo(map);
                //툴팁추가
                newMaker.bindTooltip(`${e.latlng.lat} / ${e.latlng.lng}`,{direction:'top',permanent:false,offset:[-15,-15]});
                //팝업추가
                newMaker.bindPopup(`<div style="width:200px;height:200px;background-color:white">${resp.data.base}</div>`,{})

                newMaker.on('mouseover',function(e){
                    console.log('mouseover', e);
                    this.openTooltip();
                })
                newMaker.on('mouseout',function(e){
                    console.log('mouseout', e);
                })
                newMaker.on('click',function(e){
                    console.log('click', e);
                    this.openPopup();
                })

            })
            .catch(err=>{console.log(err);});
        });


    <!-- GEOJSON       -->

    /*
      // GeoJSON 데이터
        const geojsonData = {
            "type": "FeatureCollection",
            "features": [
                {
                    "type": "Feature",
                    "geometry": {
                        "type": "Point",
                        "coordinates": [129.0756, 35.1796]
                    },
                    "properties": {
                        "name": "부산",
                        "description": "부산광역시 중심"
                    }
                },
                {
                    "type": "Feature",
                    "geometry": {
                        "type": "Polygon",
                        "coordinates": [
                            [
                                [128.53051961177493,35.85884302048635],
                                [128.53759569557545,35.858392192515446],
                                [128.5368145409084,35.85003948842948],
                                [128.5303311914725,35.84904086586803],
                            ]
                        ]
                    },
                    "properties": {
                        "name": "Polygon Example",
                        "description": "샘플 폴리곤 영역"
                    }
                }
            ]
        };

        // GeoJSON 레이어 추가

        L.geoJSON(geojsonData, {
            style: function (feature) {
                return {
                    color: 'blue',
                    fillColor: 'yellow',
                    fillOpacity: 0.5,
                    weight: 2
                };
            }
        }).bindPopup(function (layer) {
            return layer.feature.properties.description;
        }).addTo(map)

    */

    // 대한민국 법정동 지도 : https://github.com/raqoon886/Local_HangJeongDong
    // 대한민국 행정동 경계파일 : https://github.com/vuski/admdongkor
    axios.get("/data/hangjeongdong.geojson")
         .then(resp=>{
            //console.log(resp);

            L.geoJSON(resp.data, {
                style: function (feature) {
                    return {
                        color: 'gray',
                        fillColor: 'yellow',
                        fillOpacity: 0,
                        weight: 3
                    };
                }
            }).bindPopup(function (layer) {
                return layer.feature.properties.description;
            }).addTo(map)

         })
         .catch(err=>{console.log(err);});



    </script>
</body>
</html>