<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'/>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/google-calendar@6.1.15/index.global.min.js"></script>
    <style>

        .dialog,
        .add-modal
        {
            position: fixed;
            width: 350px;
            height: 250px;
            background-color: white;
            z-index: 100;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            border: 1px solid;
        }

        .hidden {
            display: none;
        }
    </style>
    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            const popupEl = document.querySelector('.dialog');
            const cancelEl = popupEl.querySelector('.cancel')
            cancelEl.addEventListener('click',function(){
                popupEl.classList.add('hidden')
            })


            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                googleCalendarApiKey: 'AIzaSyBVhoton6k79VlGsTk05cpm79D4dyVKmPk',
                events: {
                    googleCalendarId: '4ce73c5da97b4ffc4e628f6835ed165f3da660102778809d2a4ec773adb0fe0b@group.calendar.google.com'
                },
                eventClick: function (info) {
                    info.jsEvent.preventDefault()
                    console.log('info : ', info)
                    console.log('title :', info.event.title)
                    console.log(info.event.extendedProps)

                    popupEl.classList.remove('hidden')
                    popupEl.querySelector('.title').textContent = info.event.title
                    popupEl.querySelector('.desc').textContent = info.event.extendedProps.description
                },
                dateClick: function (info) {
                    //alert('Date: ' + info.dateStr)
                    //alert('Resource ID : ' + info.resource.id)

                    const addEl = document.querySelector('.add-modal')
                    addEl.classList.remove('hidden')
                }
            });
            calendar.render();
        });

    </script>
</head>
<body>
<div id='calendar'></div>

<div class='dialog hidden'>
    <div class="title"></div>
    <div class="desc"></div>

    <div>
        <a href="javascript:void(0)" class="cancel">
            닫기
        </a>
    </div>
</div>

    <div class="add-modal hidden">
        <form action="/google/cal/post" method="GET">
            <input type="text" class="title" placeholder="TITLE"><br>
            <input type="text" class="desc" placeholder="DESCRIPTION"><br>
            <input type="submit" />
        </form>
    </div>

</body>
</html>